<h2>Agregar Contacto</h2>
<form action="/add" method="POST">
  <input name="nombres" placeholder="Nombres" required><br>
  <input name="apellidos" placeholder="Apellidos" required><br>
  <input type="date" name="fecha_nacimiento" required><br>
  <input name="direccion" placeholder="Dirección" required><br>
  <input name="celular" placeholder="Celular" required><br>
  <input name="correo" placeholder="Correo" required><br>
  <button>Guardar</button>
</form>
